
.AddUser {

    padding: 4rem;
  

}

.f_ {
    padding-top: 20px ;
    justify-content: center;
    padding-left: 10px;
}

.back_button {

    margin-left: 95px;
}

.sub_button {
    
    margin: 20px 130px;
}